{
  "presets": ["es2015", "stage-0", "react", "flow"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-decorators-legacy",
    "transform-runtime",
    "transform-object-assign",
    "lodash"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-remove-console",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
