.main {
  margin-top: -53px;
  margin-bottom: 50px;
}

.logo {
  margin: 0 auto;
  width: 51px;
  height: 45px;
  background-image: url(../../assets/logo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 51px 45px;
}
