
.main {
  background-color: #808080;
  color: white;
  text-decoration: none;
  border: 1px solid #707070;
  font-size: 1rem;
  line-height: 1rem;
  padding: .75rem 1.5rem;
  border-radius: 3px;
  transition-duration: 250ms;
  transition-property: background-color;
  overflow: hidden;
  position: relative;
  display: inline-block;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
  transition-duration: 250ms;
}

.main[disabled] {
  opacity: .7;
  cursor: not-allowed;
}

.main:not([disabled]):hover {
  background-color: #707070;
}

.main__spinner,
.main__content {
  display: inline-block;
  width: 100%;
  transition-duration: 250ms;
}

.main__spinner {
  position: absolute;
  top: -2.5rem;
  height: 2.5rem;
  left: 0;
}

.main__content,
.main__spinner {
  transform: translate3d(0, 0, 0);
}

.main--loading .main__spinner,
.main--loading .main__content {
  transform: translate3d(0, 2.5rem, 0);
}
